@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

/* Variávies */
:root {
    --fonte-minima: 14px;
    --fonte-pequena:16px;
    --fonte-media: 18px;
    --fonte-grande: 20px;
    --fonte-destaque: 30px;
}


* {
    box-sizing: border-box;
    margin: 0px; padding: 0px;
}

body {
    background-color: #f9f9f9;
    width: 100%; height: 100%;
    background-color: #f9f9f9;
}

/* Classes-Modelo */
.titulo {
    font-family: Lato;
    font-weight: 900;
    text-align: center;
}

/*  */
.container {
    margin: auto;
    align-items: center;
    justify-content: center;
}

.container#principal {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.cabecalho, .rodape {
    width: 100%;
    background-color: #000;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.cabecalho {
    height: 80px;
    gap: 10px
}

.logo {
    margin: 5px;
    width: 80px;
    aspect-ratio: 1;
}

.logotipo {
    font-size: var(--fonte-grande);
    font-family: Lato;
    font-weight: 900;
    font-style: normal;
    color: #e9cd18;
    text-decoration: underline 2px;   
}

.banner {
    background-color: #0e0e0e;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 400px;
    padding: 10px;
    margin-bottom: 30px;
}
.banner .container {
    margin-top: 40px; margin-bottom: 40px;
    padding: 5%;
    width: 80%;
    height: 80%;
    background-color: #1a1a1a;
    border-radius: 1%;
    display: flex;
    flex-direction: column;
    align-items: center;;
}

.banner .titulo{
    color: #f1f1f1;
    font-size: var(--fonte-destaque);
    margin-bottom: 5px;
}

.banner .marcador-texto {
    background-color: #d4b907;
    padding-left: 2px; padding-right: 2px;
}

.separador {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .8rem;
    margin-top: 10px; margin-bottom: 15px;
}

.linha {
    width: 50%;
    height: 5px;
    background-color: #e9cd18;
}

.bolinha {
    width: 8px; height: 8px;
    border-radius: 50%;
    background-color: #e9cd18;
}

.banner .texto {
    color: #f1f1f1;
    text-align: justify;
    font-size: 1.2em;
    font-family: Roboto, sans-serif;
    font-weight: 300;
    margin-bottom: 5px;
}

#principal .separador {
    width: 50%;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.container #destaques {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
    margin-bottom: 40px;
}

.container .destaque {
    width: 50%;
    height: max-content;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    border-radius: 5px;
    border: solid 1px #e3e3e3;
    box-shadow: 1px 1px #1a1a1a;
    padding: 10%;
}

.container .destaque .icone {
    width: 60px;
    margin-bottom: 10px;
}

.container .destaque .titulo {
    font-family: Arial;
    font-size: 20px;
    margin-bottom: 10px;
}

.container .destaque .descricao-destaque {
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
}

.container .acesso-aulas {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;
    height: 300px;
    background-color: #e9cd18;
}

.acesso-aulas .titulo {
    font-size: var(--fonte-destaque);
}

.acesso-aulas .texto {
    font-size: var(--fonte-media);
    font-family: Roboto;
    max-width: 320px;
    text-align: justify;
}

.btn-link {
    width: max-content;
    padding: 20px;
    border-radius: 30px;
    background-color: #1a1a1a;
    font-family: Lato;
    font-weight: 900;
    font-size: var(--fonte-media);
    color: #e9cd18;
    text-decoration: none;
}

.btn-link:hover {
    background-color: #1a1a1a;
    font-size: var(--fonte-grande);
    text-decoration: underline;
}

.container .contato {
    width: 100%;
    height: max-content;
    padding: 10%;
    padding-top: 5%; padding-bottom: 5%;
    background-color: rgb(78, 1, 78);
}

.container .contato .titulo {
    font-family: Lato;
    font-weight: 900;
    color: #f9f9f9;
    font-size: var(--fonte-destaque);
    margin-bottom: 10px;
}

.container .formulario {
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
    background-color: #1a1a1a;
}

.bloco-form {
    display: flex;
    padding: 5px;
    flex-direction: column;
    gap: 5px;
}

.bloco-form > label {
    font-family: Lato;
    font-weight: 900;
    color: #f9f9f9;
    font-size: var(--fonte-pequena);
}

.bloco-form > input {
    font-size: var(--fonte-pequena);
    font-family: Roboto;
    min-width: 40%;
    padding: 5px;
}

.btn-form {
    font-size: var(--fonte-pequena);
    font-family: Lato;
    font-weight: 900;
    min-width: 40%;
    margin: auto;
    background-color: #e9cd18;
    border: none;
    padding: 5px;
    border-radius: 15px;
}

.btn-form:hover {
    background-color: #d4b907;
}

.rodape {
    color: #e9cd18;
    height: 200px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
    user-select: none;
}

.rodape .titulo {
    font-size: var(--fonte-grande);
    font-family: Lato;
    font-weight: 900;
    font-style: normal;
    color: #e9cd18;
    margin-bottom: 10px;
}

.rodape .texto {
    text-decoration: none;
    color: #d4b907;
}

.rodape .texto:hover {
    text-decoration: underline;
    color: #d4b907;
}

@media screen and (min-width: 720px) {
    .container #destaques {
        grid-template-columns: repeat(2, 1fr);
    }   
}

@media screen and (min-width: 1200px) {
    .container #destaques {
        grid-template-columns: repeat(3, 1fr);
    }   
}